
/* Estilos para el botón de añadir (MEJORADOS) */
.add-to-playlist {
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del icono y texto */
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 5px 10px; /* Ajustar padding */
    border-radius: 5px; /* Bordes redondeados */
    display: inline-flex; /* Para alinear icono y texto */
    align-items: center; /* Centrar verticalmente */
    transition: background-color 0.3s ease; /* Transición suave */
}

.add-to-playlist:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.add-text{
    margin-left: 5px; /* Espacio entre el icono y el texto */
}

/* Estilos para el menú de eliminar en la playlist */
.delete-menu {
    position: relative;
    display: inline-block; /* Para que el menú se ajuste al contenido */
}

.delete-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 0;
}

.delete-menu-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    padding: 5px;
    right: 0; /* Para que aparezca a la derecha del botón */
}

.delete-menu-content button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block; /* Para que los botones se apilen verticalmente */
    width: 100%;
    text-align: left;
    padding: 5px 0;
}

.delete-menu:hover .delete-menu-content {
    display: block;
}
.move-up-button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: block; /* Para que los botones se apilen verticalmente */
    width: 100%;
    text-align: left;
    padding: 5px 0;
}